*{
    margin: 0%;
    padding: 0%;
    background-color: rgb(231, 250, 253);
}

.titulo {
    position: absolute;
    color: rgb(25, 99, 105);
    left: 38%;
    top: 15%;
    z-index: 2;
}

.img1 {
    position: absolute;
    top: 43%;
    width: 50%;
    opacity: 0.1;
}

.img2 {
    position: absolute;
    top: -20%;
    left: 77%;
    width: 30%;
    opacity: 0.07;
}

.rectangle {
    position: absolute;
    width: 20%;
    height: 20%;
    color: rgb(194, 14, 14);
    z-index: 2;
}

.rectangle2 {
    position: absolute;
    width: 20%;
    height: 20%;
    color: rgb(0, 0, 0);
    z-index: 3;
}

.nome{
    position: absolute;
    width: 22%;
    height: 5%;
    left: 38.8%;
    top: 30%;
}

.idade{
    position: absolute;
    width: 22%;
    height: 5%;
    left: 38.8%;
    top: 40%;
}

.resultado{
    position: relative;
    text-align: center;
}

div.resultado p{
    position: relative;
    text-align: center;
    top: 50%;
}


body{
    overflow-y: hidden;
    overflow-x: hidden;
}